body{
	
}
#frm2{
	border:solid gray 2px;
	width: 22%;
	border-radius: 50px;
	margin: 40px;
	background: transparent;
	align-items: center;
	text-align: center;
	size: 50px;
	padding: 50px;
}
#empid{
	margin-top: 50px;
}
#btn2{
	padding: 10px;
	color: white;
	background: #FA7723;
}
#lab1{
	color: black;
}
#lab2{
	color: black;
}
#lab3{
	color: #0637EE;
}